body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    position: relative;
    margin: auto;
    grid-template-areas: "right-block-up"
        "left-block"
        "right-block-middle"
        "right-block-down";
    grid-template-columns: 100%;
    grid-template-rows: 380fr 380fr 335fr 251fr;
    gap: 0px;
    background-color: #FFFFFF;
    height: 966px;
}

.bold {
    font-weight: 900;
}

.green {
    color: #0D9206;
}

h1 {
    display: inline-block;
}

h1,
p {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* LEFT BLOCK */

.left-block {
    grid-area: left-block;
    min-width: 50vw;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    float: center;
    margin-top: 68px;
    margin-left: 10px;
}

.trip-button {
    display: none;
}

.trip-button-text {
    display: none;
}

.facebook-button {
    display: none;
}

.twitter-button {
    display: none;
}

.sites-button {
    display: none;
}

/* LEFT BLOCK - OVERLAP BOX */

.overlap {
    position: absolute;
    box-sizing: border-box;
    background-color: #FFFFFF;
    grid-area: 2 / 1 / 2 / 2;
    z-index: 1;
    max-width: 28.57%;
    min-width: 289px;
    /* 289px z 1011,5px */
    max-height: 141px;
    top: 68px;
    right: 0px;
    border-radius: 12px;
    box-shadow: -8px 14px 27px #00000029;
    padding: 8px 8px 17px 21px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.overlap p {
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0px;
}

.overlap p .smaller {
    font-size: 32px;
    line-height: 40px;
}

#orange-line {
    position: absolute;
    border: 4px solid #FF8800;
    border-bottom: 0px;
    width: 58.8%;
    /* 170px z 289px;  */
    float: left;
}

/* RIGHT BLOCK - UP */

.rigth-block-up {
    grid-area: right-block-up;
    position: relative;
    padding: 37px 0px 0px 36px;
}

.rigth-block-up h1 {
    text-shadow: 0px 16px 21px #00000029;
    padding: 0;
    margin: 0;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0px;
}

/* RIGHT BLOCK - MIDDLE */

.rigth-block-middle {
    grid-area: right-block-middle;
    position: relative;
    padding: 5px 0px 0px 36px;
    border-left: 4px solid #0D9206;
    margin: auto;
}

.text {
    max-width: 665px;
    padding-right: 10px;
    padding-top: 21px;
    padding-bottom: 39px;
    width: 90%;
}

.text p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #7D7D7D;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
}

#button-book {
    width: 203px;
    height: 61px;
    background-color: #FF8800;
    color: white;
    font-size: 27px;
    border: none;
    cursor: pointer;
}

#button-book {
    --c: #0D9206;
    color: var(--c);
    border: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    width: 203px;
    height: 61px;
    background-color: #FF8800;
    color: white;
    font-size: 27px;
    border: none;
    cursor: pointer;
}

#button-book span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.15s);
    z-index: -1;
}

#button-book:hover {
    width: 223px;
}

#button-book:hover span {
    transform: translateY(0) scale(2);
}

#button-book span:nth-child(1) {
    --n: 1;
}

#button-book span:nth-child(2) {
    --n: 2;
}

#button-book span:nth-child(3) {
    --n: 3;
}

button span:nth-child(4) {
    --n: 4;
}

#repeat-grid {
    display: none;
}

/* RIGHT BLOCK - DOWN */

.rigth-block-down {
    grid-area: right-block-down;
    /* position: relative; */
    padding: 68px 0px 61px 0px;
    margin: auto;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    display: block;
    float: center;
    margin: auto;
}

.nxt-button {
    display: none;
}

.nxt-button-text {
    display: none;
}

/* DESKTOP */

@media (min-width: 900px) {
    .grid {
        grid-template-areas: "left-block right-block-up"
            "left-block right-block-middle"
            "left-block right-block-down";
        grid-template-columns: 2023fr 1817fr;
        grid-template-rows: 380fr 335fr 251fr;
    }

    .rigth-block-middle {
        margin: 0;
        max-width: 430px;
    }

    .text p {
        font-size: 28px;
        line-height: 54px;
    }

    .image-container img {
        float: right;
    }

    .overlap {
        grid-area: 1 / 1 / 1 / 1;
    }

    .rigth-block-down {
        margin: 0;
    }

    .nxt-button {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 50px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 0px 7px #00000087;
        opacity: 0.79;
    }

    .nxt-button-text {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 121px;
        width: 232px;
        height: 60px;
        background-color: #FFFFFF;
        box-shadow: 5px 0px 7px #00000087;
        opacity: 0.79;
        border-radius: 30px / 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0D9206;
        font-size: 26px;
        cursor: pointer;
    }

    .trip-button {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 35px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 14px 15px #0000002E;
        opacity: 0.79;
    }

    .trip-button-text {
        display: block;
        width: 232px;
        height: 60px;
        position: absolute;
        bottom: 0px;
        left: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #789376;
        font-size: 26px;
        cursor: pointer;
    }

    .facebook-button {
        display: block;
        position: absolute;
        top: 247px;
        left: 35px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 1px solid #0D9206;
        border-radius: 50%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .twitter-button {
        display: block;
        position: absolute;
        top: 337px;
        left: 35px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 1px solid #0D9206;
        border-radius: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sites-button {
        display: block;
        position: absolute;
        top: 453px;
        left: 35px;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 1px solid #0D9206;
        border-radius: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-container {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .gallery-image {
        flex: 0 0 auto;
        margin: 0;
        margin-right: 10px;
    }
}

@media (min-width: 1400px) {
    .rigth-block-up h1 {
        font-size: 90px;
        line-height: 105px;
    }

    .rigth-block-middle {
        margin: 0;
        max-width: 665px;
    }

    #repeat-grid {
        display: block;
        position: absolute;
        right: -207px;
        bottom: 100px;
    }
}

.image-container img {
    transform: rotate(-360deg) scale(0.1);
    animation: reveal 0.5s forwards;
}

.overlap {
    transform: rotate(360deg) scale(0.1);
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        transform: rotate(0deg) scale(1);
    }
}

.shake {
    animation: shake 0.2s linear 5;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, 5px);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(-5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}